<div class="modal-header">
    <h5 class="modal-title">Xóa khoản chi tiêu</h5>
</div>

<div class="row modal-body">
    <div class="col-md-12">
        <h6>Bạn có thật sự muốn xóa khoản chi tiêu này không?</h6>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">
        <i class="glyphicon glyphicon-check"></i>&nbsp;Đồng ý
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>&nbsp;Hủy
    </button>
</div>