<section>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Chi tiết thu chi học sinh
                <span ng-if="!currentUserCanEditStudent()">
                    {{ details.data.name }}
                </span>
                <span ng-if="currentUserCanEditStudent()">
                    <a ng-click="openEditStudentDialog()" class="clickable undecorated-link"
                       title="Sửa thông tin học sinh">
                        {{ details.data.name }}
                    </a>
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hp-date-search-criteria search="findTransaction()" filter-data="gridConfig.searchParams">
                <button type="button" class="btn btn-primary pull-right" title="Thêm khoản chi tiêu"
                        ng-click="openEditTransactionDialog()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>

                <button type="button" class="btn btn-default pull-right" title="Xuất ra file PDF"
                        ng-click="exportPDF()">
                    PDF
                </button>
            </hp-date-search-criteria>
        </div>

        <div class="col-sm-12 margin-top-20">
            <div class="row">
                <div class="col-xs-4">
                    <h6>
                        Tổng thu <span class="text-warning"><b>{{ statistic.totalAmountIn | currencyFilter }}</b></span>
                    </h6>
                </div>

                <div class="col-xs-4">
                    <h6>
                        Tổng chi <span class="text-info"><b>{{ statistic.totalAmountOut | currencyFilter }}</b></span>
                    </h6>
                </div>

                <div class="col-xs-4">
                    <h6>
                        Còn lại <span class="text-danger"><b>{{ statistic.balance | currencyFilter }}</b></span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hp-grid grid-config="gridConfig"></hp-grid>
        </div>
    </div>
</section>
