<section>
    <div class="row">
        <div class="col-md-12">
            <h3>
                Chi tiết thu chi học sinh
                <span ng-if="!currentUserCanEditStudent()">
                    {{ details.data.name }}
                </span>
                <span ng-if="currentUserCanEditStudent()">
                    <a ng-click="openEditStudentDialog()" class="clickable undecorated-link"
                       title="Sửa thông tin học sinh">
                        {{ details.data.name }}
                    </a>
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form name="mainForm" class="form-inline" novalidate>
                <div class="form-group" style="margin-right: 20px;" show-errors>
                    <label class="control-label">Từ ngày &nbsp;</label>
                    <hp-date-picker
                            model="filterData.dateFrom"
                            name="dateFrom"
                            is-required="true">
                    </hp-date-picker>
                </div>

                <div class="form-group" style="margin-right: 20px;" show-errors>
                    <label class="control-label">Đến ngày &nbsp;</label>
                    <hp-date-picker
                            model="filterData.dateTo"
                            name="dateTo"
                            is-required="true">
                    </hp-date-picker>
                </div>

                <div class="form-group">
                    <div class="btn-group btn-group-sm"  style="margin-right: 20px;">
                        <button type="button" class="btn btn-default" ng-click="find()"
                                title="Tìm chi tiết thu chi">
                            <i class="glyphicon glyphicon-search"></i>&nbsp;Tìm
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="">Tìm tháng hiện tại</a></li>
                            <li><a href="" ng-click="findLastMonth()">Tìm tháng trước</a></li>
                            <li><a href="" ng-click="findNextMonth()">Tìm tháng tới</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="" ng-click="findCurrentYear()">Tìm năm hiện tại</a></li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-primary btn-sm" title="Thêm khoản chi tiêu"
                            ng-click="openEditTransactionDialog()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="col-sm-12 margin-top-20">
            <div class="row">
                <div class="col-xs-4">
                    <h6>
                        Tổng thu <span class="text-warning"><b>{{ statistic.totalAmountIn | currencyFilter }}</b></span>
                    </h6>
                </div>

                <div class="col-xs-4">
                    <h6>
                        Tổng chi <span class="text-info"><b>{{ statistic.totalAmountOut | currencyFilter }}</b></span>
                    </h6>
                </div>

                <div class="col-xs-4">
                    <h6>
                        Còn lại <span class="text-danger"><b>{{ statistic.balance | currencyFilter }}</b></span>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div ui-grid="transactionGridOptions"
                 ui-grid-infinite-scroll ui-grid-importer>
            </div>
        </div>
    </div>
</section>
