<div class="modal-header">
    <h4 class="modal-title" data-ng-if="details.data._id">Sửa thông tin học sinh</h4>
    <h4 class="modal-title" data-ng-if="!details.data._id">Thêm học sinh</h4>
</div>

<div class="row modal-body">
    <div class="col-md-12">
        <form name="mainForm" class="form-horizontal" novalidate>
            <student-info-block model-data="details.data"></student-info-block>

            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-4">
                    <hp-button-save></hp-button-save>
                    &nbsp;
                    <hp-button-abort></hp-button-abort>
                </div>
            </div>
        </form>
    </div>
</div>