<section data-ng-init="find()" style="height: 100%;">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Danh sách học sinh
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 margin-top-20">
            <input type="text" class="form-control" placeholder="Nhập tên hoặc mã học sinh"
                   ng-model="filterData.filterString" ng-enter="find()">
        </div>

        <div class="margin-top-20"
             ng-class="userHasPermission ? 'col-xs-10 col-sm-10 col-md-2' : 'col-xs-12 col-sm-12 col-md-4'">
            <div class="btn-group">
                <button class="btn btn-default" type="button"
                        ng-click="reset()" title="Tìm tất cả học sinh">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
                <button class="btn btn-default" type="button" title="Tìm học sinh"
                        data-ng-click="find()">
                    <i class="glyphicon glyphicon-search"></i>&nbsp;Tìm
                </button>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 margin-top-20"
             ng-if="userHasPermission">
            <button type="button" class="btn btn-primary pull-right" title="Thêm học sinh"
                    ng-click="openEditStudentDialog()">
                <i class="glyphicon glyphicon-plus"></i>
            </button>
        </div>
    </div>

    <br/>

    <div ui-grid="studentGridOptions"
         ui-grid-infinite-scroll ui-grid-importer>
    </div>
</section>
