<section ng-controller="HomeController">
    <div class="text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/logo.png" />-->
                <h1><span class="text-info">schoolmanager</span></h1>
                <h3><span class="text-warning">phiên bản 1.0</span></h3>
            </div>
        </div>
        <br>

        <!--<div class="row">-->
            <!--<p class="lead text-info">-->
                <!--schoolmanager là phần mềm giúp quản lý chi tiêu của học sinh một cách nhanh chóng và hiệu quả-->
            <!--</p>-->
        <!--</div>-->
    </div>
</section>
